### Instalando as bibliotecas usadas no trabalho

In [2]:
%pip install -q -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

#### Arrumando o ambiente

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Bibliotecas de econometria
import statsmodels.api as sm

In [6]:
## Pegando todos os .dta da pasta data
import os
data_files = os.listdir('data')
data_files = [file for file in data_files if file.endswith('.dta')]
data_files

['data_politicians_short.dta',
 'patents_ITfirms.dta',
 'data_reelection_incumbent.dta']

##### lendo os arquivos e colocando em dfs diferentes com o nome do arquivo

In [9]:
### data_politicians_short.dta

data_politicians_short = pd.read_stata('data/data_politicians_short.dta')

data_politicians_short.head()

/tmp/ipykernel_8529/3317963821.py:3: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  data_politicians_short = pd.read_stata('data/data_politicians_short.dta')

     codice_fiscale  year cat_area  cat_pos  maj
0  AIOLRY84M03B107Z  2012   comune        4  1.0
1  AIOLRY84M03B107Z  2013   comune        4  1.0
2  AIOLRY84M03B107Z  2014   comune        4  1.0
3  AIOMNA47L14C498R  1999   comune        4  1.0
4  AIOMNA47L14C498R  2000   comune        4  1.0

In [10]:
### patents_ITfirms.dta

patents_ITfirms = pd.read_stata('data/patents_ITfirms.dta')

patents_ITfirms.head()

,codice_fiscale,year,docdb_family_id,docdb_family_size,ipc_family,granted_family,claims_family,ncit,ncit_5yr,ncit_app,ncit_app_5yr
0,0000000001640242,1999,11427136,2,H02K,0,13,1,0,0,0
1,0000000001650282,2007,38984233,6,B60J,1,12,0,0,0,0
2,0000000001650282,2007,39345243,4,B29C,1,13,6,5,0,0
3,0000000001650282,2009,41394119,2,B29C,1,15,0,0,0,0
4,0000000001650282,2009,41682453,7,B29C,1,14,0,0,0,0

In [11]:
### data_reelection_incumbent.dta

data_reelection_incumbent = pd.read_stata('data/data_reelection_incumbent.dta')

data_reelection_incumbent.head()

,comune_desc,prov_cod,prov_desc,reg_cod,reg_desc,year,num_contestants,margin_spread,reelection,region,loser_previnc,province,comune
0,,1.0,AGRIGENTO,19,SICILIA,1998,4.0,0.060600,0.0,NaN,0.0,1.0,NaN
1,,1.0,AGRIGENTO,19,SICILIA,1994,2.0,0.024000,NaN,NaN,NaN,1.0,NaN
2,,1.0,AGRIGENTO,19,SICILIA,2003,5.0,0.177700,1.0,NaN,0.0,1.0,NaN
3,ARAGONA,1.0,AGRIGENTO,19,SICILIA,2002,4.0,0.245471,1.0,NaN,0.0,NaN,1.0
4,LICATA,1.0,AGRIGENTO,19,SICILIA,2003,6.0,0.369321,0.0,NaN,0.0,NaN,1.0

In [14]:
#### Juntando todos os codigos do-file em um arquivo único de txt
##### os do-files estão na pasta crescimento-e-desenvolvimento/analise/do_Estimation

do_files = os.listdir('do_Estimation')
do_files = [file for file in do_files if file.endswith('.do')]
do_files

['wagepremium.do',
 'descr_factiva_bur_conn.do',
 'regs_figs_rd.do',
 'sumstats_politicians_all.do',
 'govdep_conn_correlate.do',
 'stats_firmlevel.do',
 'stats_polits_nonpolits.do',
 'regs_rd_new_old_pols.do',
 'regs_survival.do',
 'fullprogram_estimation.do',
 'regs_bur_corru_reg.do',
 'regs_indreglevel.do',
 'sumstat_patents.do',
 'distrib_winlose_elec.do',
 'regs_firm_level.do',
 'regs_rd_stay_t.do',
 'reelection_prob.do',
 'innov_conn_rank.do',
 'stats_politsample.do',
 'regs_rd_otheroutcomes.do',
 'regs_crossborder_analysis.do']

In [15]:
## colocando todos os do-files em um único arquivo
with open('do_Estimation/estimation.do', 'w') as outfile:
    for fname in do_files:
        with open('do_Estimation/' + fname) as infile:
            for line in infile:
                outfile.write(line)